{% load thumbnails %}

<script type="text/javascript" src="/static/js/flowplayer.embed-3.0.0.min.js"></script>
<script type="text/javascript" src="/static/js/flashembed-0.34.min.js"></script>
<script type="text/javascript" src="/static/js/prototype.js"></script>

<table>
  <tr><td>
      <a  
	 style="display:block;width:{{ width }}px;height:{{ height }}px"  
	 id="player">
	{% if not video.url %}
	<img src="/static/images/not_available.jpg" alt="Video is not available yet" height={{ height }} width={{ width }}/>
	{% endif %}
      </a>
  </td></tr>

  {% if thumbnails %}
  {% if video.has_thumbnails %}
  <tr><td>
      {% thumbnails video player="player" width=width %}
  </td></tr>
  {% if embed_code %}
  <tr><td>
      <h6>Embed code:</h6>
      <textarea id="embed_code" style="width:{{ width }}px;height:200px" readonly></textarea>
  </td></tr>
  {% endif %}
  {% endif %}
  {% endif %}
</table>

<script>
  player = flowplayer("player", "/yvideo/flowplayer/flowplayer-3.0.1.swf", {

                      clip: {
                          {% if video.url %}
                          url: "{{ video.url }}",
                          {% endif %}
                          {% if autoplay %}
                          autoPlay: true,
                          {% else %}
                          autoPlay: false,
                          {% endif %}
                      },
                      {% if loop %}
                      onBeforeFinish: function() {
                          return false;
                      },
                      {% endif %}
                      onFinish: function() {
                          {% if loop %}
  
                          this.play(0);
  
                          {% else %}
  
                          // this.stop();
  
                          {% endif %}
                      },
                      onLoad: function() {
                          this.setVolume({{ volume }});
                          {% if mute %}
                          this.mute();
                          {% endif %}

                          {% if embed_code %}
                          this.embed();
                          $('embed_code').innerHTML = this.getEmbedCode()
                          {% endif %}
                      }
                      });
</script>
